<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.notverypc.tart-starter</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>E0A05189-D8B6-427A-B6F6-C462DC7E8368</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FD44C38-E61C-4475-94C2-088B6658559A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>394438B8-DBB0-4C9C-B20E-8655FB746599</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>notverypc</string>
	<key>description</key>
	<string>Srart &amp; Stop Tart VMs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Tart Starter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>bash "/Users/uk46088528/Library/CloudStorage/OneDrive-Personal/_SyncFolder/Apps/Alfred v2/Alfred.alfredpreferences/workflows/user.workflow.B22BF09B-1460-471C-9F3A-EC9F2619182B/start_vm.sh"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0FD44C38-E61C-4475-94C2-088B6658559A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tart</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting List of VMs</string>
				<key>script</key>
				<string>bash "/Users/uk46088528/Library/CloudStorage/OneDrive-Personal/_SyncFolder/Apps/Alfred v2/Alfred.alfredpreferences/workflows/user.workflow.B22BF09B-1460-471C-9F3A-EC9F2619182B/list_vms.sh"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Tart VMs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E0A05189-D8B6-427A-B6F6-C462DC7E8368</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>bash "/Users/uk46088528/Library/CloudStorage/OneDrive-Personal/_SyncFolder/Apps/Alfred v2/Alfred.alfredpreferences/workflows/user.workflow.B22BF09B-1460-471C-9F3A-EC9F2619182B/stop_vm.sh"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>394438B8-DBB0-4C9C-B20E-8655FB746599</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A simple start and stop workflow for Tart VMs.</string>
	<key>uidata</key>
	<dict>
		<key>0FD44C38-E61C-4475-94C2-088B6658559A</key>
		<dict>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>394438B8-DBB0-4C9C-B20E-8655FB746599</key>
		<dict>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>E0A05189-D8B6-427A-B6F6-C462DC7E8368</key>
		<dict>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/notverypc/Tart-Starter</string>
</dict>
</plist>
